.size-image {
    width: 100;
    height: 100px;
}

.titulo{
    font-weight: bold;
}

.border-table{
    border: 1px solid #dcdee0;
}
.border-table th, td{
    border: 1px solid #dcdee0;
}

.color-icon{
    color: #6758F8;
    margin-left: 5px;
}